<div class="container-fluid">
    <app-navbar></app-navbar>
    <div>
        <form class="mr-auto ml-auto mt-3" style="width:30%" (ngSubmit) = "searchUsers()" #searchForm="ngForm">
            <div class="form-group">
              <input type="text" [(ngModel)]='username'  class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Username" required>
            </div>
            <button type="submit" class="btn btn-primary" style="width:100%" [disabled]="!searchForm.form.valid">Search</button>
            <hr/>
        </form>
        <table class="table" style="width:50%;margin:auto;margin-top: 1em;">
            <thead style="background-color:rgb(30, 144, 252);">
              <tr>
                <th style="text-align: center;" scope="col">#</th>
                <th style="text-align: center;" scope="col">Username</th>
                <th style="text-align: center;" scope="col">Name</th>
                <th style="text-align: center;" scope="col">Follow/Unfollow</th>
                <th style="text-align: center;" scope="col">Profile</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fu of foundUsers;let i = index">
                <th  style="background-color: rgb(30, 144, 252);text-align: center;" scope="row">{{i+1}}</th>
                <td style="background-color: white;text-align: center;">{{fu.username}}</td>
                <td style="background-color: white;text-align: center;">{{fu.name}}</td> 
                <td style="background-color: white;text-align: center;padding: 0;vertical-align: middle;"><button class="btn btn-warning" (click)="follow(fu.id, fu.follow)">{{fu.follow ? 'Unfollow' : 'Follow'}}</button></td> 
                <td style="background-color: white;text-align: center;padding: 0;vertical-align: middle;"><button class="btn btn-primary" (click)="goOnProfile(fu.id)">Profile</button></td>                                                                     
              </tr>
            </tbody>
          </table>
    </div>
</div>
